<!DOCTYPE html>
<html lang="en">

<head>
  <title>WolfTrack - Admin</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
  
  <style>
    /* Styles omitted for brevity */
    iframe {
      border: 1px solid #ddd;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-dark sticky-top">
    <ul class="navbar-nav ">
      <a class="navbar-brand" href="/">WolfTrack</a>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </nav>

  <div class="container-fluid">
    <div class="row content">
      <!-- Left Sidebar -->
      <div class="col-sm-3 sidenav sidenav-left">
        <center>
          <img class="rounded-circle" alt="100x100"
            src="https://ih1.redbubble.net/image.1703296696.9941/st,small,507x507-pad,600x600,f8f8f8.jpg" height="250px"
            width="250px">

          <br><br>
          <div class="card" style="width: 20rem; text-align: left;">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <b>NAME: </b>
                </div>
                <div class="col">
                  {{ user[1] }}
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <b>USERNAME: </b>
                </div>
                <div class="col">
                  {{ user[2] }}
                </div>
              </div>
            </div>
          </div>
          <br><br>
        </center>
      </div>

      <!-- Main Content -->
      <div class="col-sm-9 text-left main-content">
        <center>
          {% for resume in resumes %}
          <div class="image-container">
            <!-- Resume Display -->
            <iframe title="resume_{{ loop.index }}"
                src="{{ url_for('static', filename=resume[1]) }}"
                width="400" height="500" frameborder="0">
            </iframe>
    
            <!-- User Name -->
            <p class="name" style="background-color:#b9dfec">{{ resume[0] }}</p>

            <!-- Review and Action Buttons -->
            <div class="review-container">
              <!-- Review Button -->
              <button id="reviewButton{{ loop.index }}" class="button5" style="background-color:#b9dfec" value="NO">
                <img id="reviewImage{{ loop.index }}" src="{{ url_for('static', filename='images/notreviewed.png') }}"
                  width="40" height="35">
              </button>

              <div class="divider-icon"></div>

              <!-- Comment Form -->
            <!-- Button to open the comment page -->
            <a href="{{ url_for('comment_page', user_id=resume[0], admin_user_id=user[1]) }}" style="background-color:#b9dfec;color: rgb(0, 0, 0); " class="btn btn-primary">Add Comment</a>
              <div class="divider-icon"></div>

              <!-- Like Button -->
              <button id="likeButton{{ loop.index }}" class="button5" style="background-color:#b9dfec" value="NO">
                <img id="likeImage{{ loop.index }}" src="{{ url_for('static', filename='images/unlike.png') }}" width="40"
                  height="35">
              </button>
            </div>
          </div>
          <div class="divider"></div>
          {% endfor %}
        </center>
      </div>
    </div>
  </div>
</body>

</html>
